* {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

li:hover {
  color: #08b7b7;
  cursor: pointer;
}
